services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
      - ./redis_conf:/usr/local/etc/redis
    command: redis-server /usr/local/etc/redis/redis.conf

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "5540:5540"
    volumes:
      - ./redisinsight_data:/data
